{
  "presets": [
    "env",
    "react-native-stage-0/decorator-support"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-assign",
    "syntax-dynamic-import",
    "lodash",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "true"
    }]
  ],
"comments": true
}