{
  "presets": [
    "env",
    "react-native-stage-0/decorator-support"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-object-assign",
    "syntax-dynamic-import",
    "lodash"
  ],
"comments": true
}