{
  "presets": [
    "env",
    "react-native-stage-0/decorator-support"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-assign",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ],
  "comments": false
}